.country{
    border: 2px solid aqua;
    padding: 10px;
    border-radius: 8px;
}
.country img{
    height: 150px;
    width: 300px;
}
.visited-country{
    background-color: aquamarine;
    color: black;
    opacity: 0.9;
}
.flag-btn{
    float: right;
}